body {
	padding-bottom: 200px;
	min-width: 500px;
}

#info-table td{
	max-width: 500;
}

li.tab a {
	padding: 15px;
}

ul {
	list-style-type: none;
}

.toggle {
	display: inline-block;
}

.collapsed ul{
	display: none;
}

a {
	cursor: pointer;
}

.navbar-header {
	img {
		width: 300px;
		padding: 0;
	}
}